# Manejo de Archivos de Texto en Python

## Escritura de Archivos

In [1]:
with open('salida.txt', mode='w') as planilla:
    planilla.write('1001 Juan Perez 3600\n')
    planilla.write('1002 Maria Gonzalez 4500\n')
    planilla.write('1003 Ramon Tirado 2500\n')

In [3]:
!ls -al

total 16
drwxr-xr-x   5 onix  staff   160 Jun  5 20:52 .
drwxr-xr-x  13 onix  staff   416 Jun  5 20:52 ..
drwxr-xr-x   4 onix  staff   128 Jun  5 20:51 .ipynb_checkpoints
-rw-r--r--   1 onix  staff  1579 Jun  5 20:52 08.1_archivos.ipynb
-rw-r--r--@  1 onix  staff    69 Jun  5 20:51 salida.txt

In [11]:
with open('salida.txt', mode='w') as planilla:
    planilla.write('1001\t\tJuan Perez\t\t\t3600\n')
    planilla.write('1002\t\tMaria Gonzalez\t\t\t4500\n')
    planilla.write('1003\t\tRamon Tirado\t\t\t2500\n')

In [12]:
with open('salida.txt', mode='w') as planilla:
    planilla.write('1001,Juan Perez,3600\n')
    planilla.write('1002,Maria Gonzalez,4500\n')
    planilla.write('1003,Ramon Tirado,2500')

In [5]:
# Tabla de multiplicar

In [10]:
with open('tabla7.txt', mode='w') as tabla:
    for num in range(1, 11):
        tabla.write(f'{num:2d} x 7 = {num * 7}\n')

## Lectura de Archivos

In [14]:
with open('salida.txt', mode='r') as cuentas:
    print(f'{"Nro.Cuenta":<15}{"Apellido":<15}{"Salario":>10}')
    for registro in cuentas:
        codigo, nombre, sueldo = registro.split(',')
        print(f'{codigo:<15}{nombre:<15}{sueldo:>10}')

Nro.Cuenta     Apellido          Salario
1001           Juan Perez          3600

1002           Maria Gonzalez      4500

1003           Ramon Tirado        2500

1003           Pedro Nogales       8200